* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    color: rgb(155, 0, 216);
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
    user-select: none;
    cursor: pointer;
    /* display: inline-block; */
}

p {
    color: white;
    user-select: none;
}


/* Main components */
.grid-container {
    display: flex;
    width: 100%;
    height: 30rem;
    /* margin: auto; */
    background-color: rgb(223, 223, 223);
    position: relative;
}

.gridbox {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 0.1rem;
    width: 80%;
    height: 70%;
    background-color: rgb(179, 179, 179);
    margin: auto;
    border-radius: 0.5rem;
}

.button-box {
    display: flex;
    justify-self: center;
    align-self: center;
    width: 90%;
    height: 100%;
    background-color: rgb(141, 141, 141);
    overflow: hidden;
    position: relative;
}

.button-style {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: auto;
    width: 90%;
    height: 6rem;
    border-radius: 0.5rem;
    border: solid 0.1rem rgb(255, 255, 255);
}


/* Buttons */

/* Button one */
.button-one {
    background-color: purple;
}

.button-one:hover {
    transition: all 0.2 ease-out;
    background-color: rgb(179, 0, 179);
}

.button-one-alive {
    background-color: blue;
}

.button-one-alive:hover {
    transition: all 0.2s ease-out;
    background-color: rgb(0, 0, 153);
}

/* Button two */
.button-two {
    background-color: red;
}

/* Button three */
.button-three {
    background-color: lightseagreen;
}

/* Button four */
.button-four {
    background-color: yellowgreen;
}

.message-btn4 {
    position: relative;
}


/* Javascript (toggle) classes */
.hide-button {
    display: none;
}

.hide-message {
    display: none;
}

.message-btn4 {
    color: red;
    position: absolute;
    top: 45%;
    left: 45%;
}

.overlay-message {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.overlay-hidden {
    visibility: hidden;
}


/* Media queries */

@media screen and (max-width: 720px) {
    .gridbox {
        grid-template: auto / repeat(1, 1fr);
        gap: 1rem;
    }
}
/* fix height glitch */